.main-body {
    background-color: var(--background);
    flex: 1;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 0;
}
.heading-und-xp {
    display:flex;
    flex-direction: row;
    gap: 5vh;
    margin-left: 5vh;
    width:100%;
}
.heading-kartenhaus {
    font-style: var(--mono);
}
.vokabel-sets {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    margin-left: clamp(0.5rem,1vh,1rem);
}
.vokabel-sets div{
    height: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    background-color: var(--vokabel-set-color);
    border: 2px solid rgb(150, 148, 124);
    transition: 0.4s;
}
.vokabel-sets div:hover { 
    transform: scale(1.20); 
    transform: translateY(-5); 
    filter: brightness(0.8); 
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.15); 
}
.xp-anzeige {
    width: 100px;
    height: fit-content;
    border-radius: 20px;
    margin-left:auto;
    margin-right: 5vw;
    margin-top: 5vh;
    background-color: var(--paper-text-soft-light);
    padding:1%;
    font-family: var(--mono);
    border:2px solid var(--paper-text-soft-border);
}
.stats {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 5%;
}
.progress{
    height: 400px;
    width: 500px;
    border: 0.5px solid rgba(0,0,0,1);
    border-radius: 30px;
    box-shadow: 0.1px 0.1px 1px rgba(0,0,0,1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.ring {
    height: clamp(140px, 15vw, 200px);
    aspect-ratio: 1 / 1;  
    border-radius: 50%;
    background: conic-gradient(
        var(--gold) calc(var(--progress) * 3.6deg),  
        #eee calc(var(--progress) * 3.6deg));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}
.inner {
    height: 85%;          
    width: 85%;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner span {
    font-size: 24px;
    font-weight: 500;
}
.text-prog {
    color:var(--title-color);
}
.ring-rest {
    display: flex;
    gap: 5%;
}
.add-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-button {
    height: 100%;
    width: 100%;
    object-fit: contain;
}