.main-body {
    background-color: var(--background);
    flex: 1;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 0;
}
.heading-und-xp {
    display:flex;
    flex-direction: row;
    gap: clamp(1rem, 5vh, 3rem);
    margin-left: clamp(1rem, 5vh, 3rem);
    width: calc(100% - clamp(1rem, 5vh, 3rem));
}
.heading-kartenhaus {
    font-style: var(--mono);
}
.vokabel-sets {
    display: flex;
    flex-direction: row;
    gap: clamp(1rem, 5vh, 4rem);
    margin-left: clamp(0.5rem,1vh,1rem);
}
.vokabel-sets div{
    height: clamp(200px, 25vw, 300px);
    aspect-ratio: 1 / 1;
    border-radius: var(--radius);
    background-color: var(--vokabel-set-color);
    border: 2px solid rgb(150, 148, 124);
    transition: 0.4s;
}
.vokabel-sets div:hover { 
    transform:scale(1.15);
    filter: brightness(0.8); 
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.15); 
}
.stats {
    display: flex;
    flex-direction: row;
    gap: clamp(1rem,5%,4rem);
    margin:clamp(1rem,5%,4rem);
}
.stats > div{
    width:clamp(280px,35vw,500px);
    height:clamp(300px,35vw,400px);
    border: 0.5px solid rgba(0,0,0,1);
    border-radius: var(--radius);
    box-shadow: var(--shadow-soft);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: var(--bg-elevated);
}
.ring {
    height: clamp(140px, 15vw, 200px);
    aspect-ratio: 1 / 1;  
    border-radius: 50%;
    background: conic-gradient(
        var(--gold) calc(var(--progress) * 3.6deg),  
        #eee calc(var(--progress) * 3.6deg));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:2%;
    margin-top:clamp(1rem,3vw,2rem);
}
.inner {
    height: 85%;          
    width: 85%;
    border-radius: 50%;
    background: var(--bg-elevated-2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner span {
    font-size:clamp(1rem,2vw,1.5rem);
    font-weight: 500;
}
.text-prog {
    color:var(--title-color);
}
.ring-rest {
    display: flex;
    gap: 5%;
}
.add-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-button {
    height: clamp(200px,25vw,300px);
    aspect-ratio:1/1;
    transition: 0.4s;
}
.add-button:hover {
    transform: scale(1.20); 
    filter: brightness(0.8); 
}
.vokabs-gelernt {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: clamp(0.5rem, 2vw, 2rem);
}
.num-gelernt {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    border-radius: var(--radius);
    background-color: var(--gold);
}
.num-gelernt h4 {
    margin: 0;
}
.vokabeln-gelernt-div-inner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    background-color: var(--bg-elevated-2);
    padding:clamp(4px,0.5vw,8px);
}