.stats {
    display:grid;
    grid-template-columns: repeat(4,clamp(280px,35vw,500px));
    grid-template-rows: repeat(2,clamp(280px,35vw,500px));
    gap: clamp(1rem,5%,4rem);
    margin:clamp(1rem,5%,4rem);
    grid-template-areas: "box1 box2 box2 box4"
    "box1 box1 box3 box4";
}

.box1 {
    background-color: green;
}
.box2 {
    background: red;
}
.box3 {
    background-color: yellow;
}
.box4 {
    background: blue;
}
