.main-body {
    background-color: var(--background);
    flex: 1;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 0;
    align-items:center;
}
.überschrift-div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    background-color: var(--bg-elevated-2);
    padding-left:clamp(4px,0.5vw,8px);
    padding-right:clamp(4px,0.5vw,8px);
}
.überschrift {
    font-family: var(--mono);
    font-weight: 100;
    color: var(--title-color);
}
.main-body {
    gap: 10px;
}