.mainPartSeite {
    background-color: coral;
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
}
.sprache-auswählen-layout {
    background-color:aqua;
}
.text-unterüberschirft {
    background-color: blue;
}
.cards-sprachen {
    background-color: yellow;
}