.sprache-auswählen-layout {
    background-color:aqua;
}
.überschrift-zurück-icon {
    background-color: brown;
}
.text-unterüberschirft {
    background-color: blue;
}
.cards-sprachen {
    background-color: yellow;
}